.main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid {
  border: 2px solid black;
  width: 650px;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  margin: 5px 5px;
  cursor: pointer;
}
img {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:not(input) {
  user-select: none;
}
button {
  position: fixed;
  top: 50%;
  left: 10%;
  width: 90px;
  height: 40px;
  background-color: mediumblue;
  font: 500 20px "ariel";
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
